{% block header %}
<p>Hello Site</p>
{% endblock %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo debitis quos rerum voluptates mollitia iure illum at temporibus minus, nesciunt, nemo magni excepturi assumenda odit dicta tempore maiores corrupti blanditiis.
</header>
</nav>
<main>
    {% block main %}
    <br>
    {% endblock %}
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta esse ratione earum, repellendus dolor adipisci necessitatibus quisquam et modi deserunt voluptate hic dolores corporis voluptas ex molestiae. Facilis, illum hic!
</main>

<footer>
    {% block footer %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi commodi cupiditate id sunt maxime, quisquam, deleniti cum ut laboriosam facilis magni cumque nemo suscipit error! Animi dicta provident dolore cumque.
    {% endblock %}